<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/estilos.css" rel="stylesheet">
    <title>Bienvenido a Mercado Liebre</title>
</head>
<body>
    
    <header class="main-header">
        <div class="contenedor">
            <div class="main-header-top-bar">
                <div class="logo">
                    <a href="/" title="Mercado Liebre"><img class="" src="/images/logo-mercado-liebre.svg" width="360" height="auto" alt="imagen de logo Mercado Libre"></a>
                </div>
                <div class="search-container">
                    <form>
                      <button type="submit"><i class="fa fa-search"></i></button>
                      <input type="text" placeholder="Buscar productos, marcas ..." name="search">
                    </form>
                </div>
                <div class="frase">
                    <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </div>
            <div class="burguer-menu center">
                <span class="fa-stack">
                    <i class="fas fa-square fa-stack-2x light-blue"></i>
                    <i class="fas fa-bars burger fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a class="" href="#">Ofertas</a></li>
                    <li><a class="" href="#">Tiendas Oficiales</a></li>
                    <li><a class="" href="#">Vender</a></li>
                    <li><a class="" href="#">Ayuda</a></li>
                </ul>
                <ul class="right-navbar">
                    <li><a class="" href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a class="" href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a class="" href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>
        
    <main class="mt-header">
        <div>
            <img class="banner" src="/images/img-home-banner.jpg">
        </div>
        <div class="contenedor-product">
            <section class="section-header">
                <h2>Basado en tu última visita</h2>
            </section>
            <section class="product-order ">
                <article class="product">
                    <div class="box-image center">
                        <img class="img-detail" src="images/img-cafetera-moulinex.jpg">
                    </div>
                    <div class="box-price-nameproduct">
                        <span class="fa-contenedor descuentos">
                            <i class="fas fas fa-truck"></i>
                        </span>
                        <div class="box-price">
                            <span class="price mr-2">$6.770</span>
                            <span class="descuentos">40% off</span>
                        </div>
                        <h3 class="box-name">Cafetera Moulinex</h3>
                    </div>
                </article>
                <article class="product">
                    <div class="box-image center">
                        <img class="img-detail" src="images/img-macbook-pro-2019.jpg">
                    </div>
                    <div class="box-price-nameproduct">
                        <span class="fa-contenedor descuentos">
                            <i class="fas fas fa-truck"></i>
                        </span>
                        <div class="box-price">
                            <span class="price mr-2">$230.000</span>
                            <span class="descuentos">20% off</span>
                        </div>
                        <h3 class="box-name">MacBook Pro 2019</h3>
                    </div>
                </article>
                <article class="product">
                    <div class="box-image center">
                        <img class="img-detail" src="images/img-samsung-galaxy-s10.jpg">
                    </div>
                    <div class="box-price-nameproduct">
                        <span class="fa-contenedor descuentos">
                            <i class="fas fas fa-truck"></i>
                        </span>
                        <div class="box-price">
                            <span class="price mr-2">$70.500</span>
                            <span class="descuentos">10% off</span>
                        </div>
                        <h3 class="box-name">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article class="product">
                    <div class="box-image center">
                        <img class="img-detail" src="images/img-tv-samsung-smart.jpg">
                    </div>
                    <div class="box-price-nameproduct">
                        <span class="fa-contenedor descuentos">
                            <i class="fas fas fa-truck"></i>
                        </span>
                        <div class="box-price">
                            <span class="price mr-2">$23.200</span>
                            <span class="descuentos">10% off</span>
                        </div>
                        <h3 class="box-name">SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </section>
            <section class="section-header">
                <h2>Ofertas</h2>
            </section>
            <section class="product-order ">
                <article class="product">
                    <div class="box-image center">
                        <img class="img-detail" src="images/img-cafetera-moulinex.jpg">
                    </div>
                    <div class="box-price-nameproduct">
                        <span class="fa-contenedor descuentos">
                            <i class="fas fas fa-truck"></i>
                        </span>
                        <div class="box-price">
                            <span class="price mr-2">$6.770</span>
                            <span class="descuentos">40% off</span>
                        </div>
                        <h3 class="box-name">Cafetera Moulinex</h3>
                    </div>
                </article>
                <article class="product">
                    <div class="box-image center">
                        <img class="img-detail" src="images/img-macbook-pro-2019.jpg">
                    </div>
                    <div class="box-price-nameproduct">
                        <span class="fa-contenedor descuentos">
                            <i class="fas fas fa-truck"></i>
                        </span>
                        <div class="box-price">
                            <span class="price mr-2">$230.000</span>
                            <span class="descuentos">20% off</span>
                        </div>
                        <h3 class="box-name">MacBook Pro 2019</h3>
                    </div>
                </article>
                <article class="product">
                    <div class="box-image center">
                        <img class="img-detail" src="images/img-samsung-galaxy-s10.jpg">
                    </div>
                    <div class="box-price-nameproduct">
                        <span class="fa-contenedor descuentos">
                            <i class="fas fas fa-truck"></i>
                        </span>
                        <div class="box-price">
                            <span class="price mr-2">$70.500</span>
                            <span class="descuentos">10% off</span>
                        </div>
                        <h3 class="box-name">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article class="product">
                    <div class="box-image center">
                        <img class="img-detail" src="images/img-tv-samsung-smart.jpg">
                    </div>
                    <div class="box-price-nameproduct">
                        <span class="fa-contenedor descuentos">
                            <i class="fas fas fa-truck"></i>
                        </span>
                        <div class="box-price">
                            <span class="price mr-2">$23.200</span>
                            <span class="descuentos">10% off</span>
                        </div>
                        <h3 class="box-name">SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </section>
        </div>
    </main>
        
    <footer>
        <div class="contenedor">
            <section class="footer-desk">
                <div class="box-info center">
                    <div class="mb-1"><i class="fas fa-credit-card fa-2x"></i></div>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en 7 puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div class="box-info center">
                    <div class="mb-1"><i class="fas fa-gift fa-2x"></i></div>
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div class="box-info center">
                    <div class="mb-1"><i class="fas fa-user-shield fa-2x"></i></div>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </div>
            </section>
            <div class="line">
                <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </div>
    </footer>
    
</body>
</html>