<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/estilos.css" rel="stylesheet">
    <title>Mercado Libre</title>
</head>
<body>
    <header>
        <h1>
            <img class="" src="/images/logo-mercado-liebre.svg" width="360" height="auto">
        </h1>
        <div>
            <p>Lugar para poner barra de búsqueda</p>
        </div>
        <div>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul>
                <li><a class="" href="#">Ofertas</a></li>
                <li><a class="" href="#">Tiendas Oficiales</a></li>
                <li><a class="" href="#">Vender</a></li>
                <li><a class="" href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a class="" href="#">Creá tu cuenta</a></li>
                <li><a class="" href="#">Ingresá</a></li>
                <li><a class="" href="#">Mis Compras</a></li>
            </ul>
        </nav>
    </header>
        
    <main>
        <div>
            <img class="" src="/images/img-home-banner.jpg" width="360" height="auto">
        </div>

        <h2>Basado en tu última visita</h2>

        <article class="">
            <div class="">
                <img class="" src="images/img-cafetera-moulinex.jpg" width="360" height="auto">
            </div>
            <div class="">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </div>
        </article>

        <article>
            <div class="">
                <img class="" src="images/img-macbook-pro-2019.jpg" width="360" height="auto">
            </div>
            <div class="">
                <p>$230.000</p>
                <p>20% off</p>
                <h3>MacBook Pro 2019</h3>
            </div>
        </article>

        <article class="">
            <div class="">
                <img class="" src="images/img-samsung-galaxy-s10.jpg" width="360" height="auto">
            </div>
            <div class="">
                <p>$70.500</p>
                <p>10% off</p>
                <h3>Samsung Galaxy S10</h3>
            </div>
        </article>

        <article class="">
            <div class="">
                <img class="" src="images/img-samsung-galaxy-s10.jpg" width="360" height="auto">
            </div>
            <div class="">
                <p>$70.500</p>
                <p>10% off</p>
                <h3>Samsung Galaxy S10</h3>
            </div>
        </article>
    </main>
        
    <footer>
        <div>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en 7 puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
        <div>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en 7 puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
    
</body>
</html>